// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Flag Icon CSS
@import '~flag-icon-css/sass/flag-icons';

#app{
    min-height: 1200px;
}

.navbar-brand{
    width: 20%;
}
.navbar-brand img{
    min-width: 120px;
    width: 100%;
}

.sidebar-filter{
    z-index: 9997;
}

.category-children{
    width: 205px;
    margin-left: 141px;
    flex-direction: column;
    padding: 16px 51px 20px 20px;
    display: none;
    background-color: #f8fafc;
    position: relative;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 11px 0px;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}
$category_additions_color: #e91e63;
@mixin category-children{
    padding-left: 0.5rem;
    border-left: 0.2rem solid $category_additions_color;
}

.category-children:hover{
    @include category-children;
}
category-label:hover{
    @include category-children;
}
.category-parent input[type="checkbox"] {
    outline: none;
}
.category-children input[type="checkbox"] {
    outline: none;
}
.category-parent:nth-child{
    margin-left: 131px !important;
}

.category-children::before{
    content: "";
    position: absolute;
    top: 1rem;
    left: -1.5rem;
    border: 0.6rem solid transparent;
    border-bottom-color: $category_additions_color;
    transform: rotate(-90deg);
}
.animate_on_load{
    animation: 1s ease-out 0s 1 append_after_load;
}

.animate_on_load_append_left{
    animation: 1s ease-out 0s 1 append_from_left;
}
@keyframes append_after_load{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes append_from_left{
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.category-children,.category_parent a{
    text-decoration: none;
    color: #191c1f;
    transition: all 0.3s ease-in-out;
}
.category-children,.category_parent a:hover{
    text-decoration: none;
    color: $category_additions_color;
}
.category-label{
    padding-left: 5px;
    width: 100% !important;
}
.category_parent:hover > .category-children{
    display: flex;
}
.category-children:hover >  .category-children{
    display: flex;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: $category_additions_color;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
}
.footer-col input[type=email]{
    margin-bottom: 35px;
    border-radius: 20px;
    background-color: #24262b;
    border: 3px solid $category_additions_color;
    padding: 5px 5px 5px 15px;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.footer-col input[type=email]::placeholder {
    color: #ffffff;
}

.footer_ul{
    padding-left: 0.0001rem !important;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .social-links img{
    width: 40px;
    height: 40px;
}

.card-img-top{
    border: 1px solid #f3f3f3;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 574px){
    .footer-col{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: flex-start;
    }
    .footer_ul{
        text-align: center !important;
    }
}

.contact_form{
    width: 50%;
    height: 50%;
    background-color: #f0f4f7;
    position: absolute;
    margin: 0px auto 0px auto;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    justify-content: center;
}
.contact_form h2{
    margin-left: auto;
    margin-right: auto;
}
.item{
    width: 250px;
    height: 200px;
}
.item img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card{
    border: none;
    overflow: hidden
}
.thumbnail_images ul{
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top:10px
}
.thumbnail_images ul li{
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}
.thumbnail_images ul li:hover{
    border: 2px solid #000
}
.main_image{display: flex;justify-content: center;align-items: center;border-bottom: 1px solid #eee;height: 400px;width: 100%;overflow: hidden}.heart{height: 29px;width: 29px;background-color: #eaeaea;border-radius: 50%;display: flex;justify-content: center;align-items: center}.content p{font-size: 12px}.ratings span{font-size: 14px;margin-left: 12px}.colors{margin-top: 5px}.colors ul{list-style: none;display: flex;padding-left: 0px}.colors ul li{height: 20px;width: 20px;display: flex;border-radius: 50%;margin-right: 10px;cursor: pointer}.colors ul li:nth-child(1){background-color: #6c704d}.colors ul li:nth-child(2){background-color: #96918b}.colors ul li:nth-child(3){background-color: #68778e}.colors ul li:nth-child(4){background-color: #263f55}.colors ul li:nth-child(5){background-color: black}.right-side{position: relative}.search-option{position: absolute;background-color: #000;overflow: hidden;align-items: center;color: #fff;width: 200px;height: 200px;border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;left: 30%;bottom: -250px;transition: all 0.5s;cursor: pointer}.search-option .first-search{position: absolute;top: 20px;left: 90px;font-size: 20px;opacity: 1000}.search-option .inputs{opacity: 0;transition: all 0.5s ease;transition-delay: 0.5s;position: relative}.buttons .btn{height: 50px;width: 150px;border-radius: 0px !important}

.heart{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.heart:hover{
    transform: scale(0.9);
}
